@charset "UTF-8";
.article {
  background: #fad296;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: solid 5px;
  border-color: #815a0a;
  border-radius: 30px;
  position: relative;
  font-size: 16px;
  line-height: 16px;
}
.article:before,.article:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 29px;
  border-right: 22px solid transparent;
  border-left: 22px solid transparent;
}
.article:before {
  bottom: -25px;
  border-top: 22px solid #815a0a;
}
.article:after {
  bottom: -18px;
  border-top: 22px solid #fad296;
}